<link rel="stylesheet" href="{{ 'swiper.css'  | asset_url}}">
<style>
  .image-column-slider {
    overflow: hidden
  }
  .Product__Gallery.Product__Gallery--withThumbnails {
    display: none;
  }
  .thumbslider .swiper-slide-thumb-active img {
    border: 2px solid black;
  }
  .swiper-slide img {
    width: 100%;
  }
  .thumbslider img {
    width: 70px;
    height: 70px;
    object-fit: contain
  }

  :root {
    --swiper-navigation-size: 15px;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    color: black;
  }
  .thumbslider {
    margin-top: 15px;
  }
  .thumbslider .swiper-wrapper {
    padding: 0 27px;
  }
</style>
<div class="image-column-slider swiper ">
  <div class="swiper-wrapper">
    {%- for media in product.media -%}
      <div class="swiper-slide">
        {% if media.media_type == 'image' %}
          <img src="{{ media.media_url }}" alt="{{ product.title }}" />
        {% else %}
          <template>
            {%- liquid
            case media.media_type
            when 'external_video'
              assign video_class = 'js-' | append: media.host
              if media.host == 'youtube'
                echo media | external_video_url: autoplay: true, loop: loop, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy"
              else
                echo media | external_video_url: autoplay: true, loop: loop | external_video_tag: class: video_class, loading: "lazy"
              endif
            when 'video'
              echo media | media_tag: image_size: "2048x", autoplay: true, loop: loop, controls: true, preload: "none"
            when 'model'
              echo media | media_tag: image_size: "2048x", toggleable: true
            endcase
          -%}
          </template>
        {% endif %}
      </div>
    {%- endfor -%}
  </div>
  <div class="swiper-pagination"></div>
</div>
<div thumbsSlider="" class="thumbslider swiper ">
  <div class="swiper-wrapper">
    {%- for image in product.images -%}
      <div class="swiper-slide">
        <img src="{{ image | img_url:'master' }}">
      </div>
    {% endfor %}
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
<script src="{{'swiper.js' |asset_url}}"></script>
<script>



  var swiper = new Swiper(".thumbslider", {
    loop: true,
    spaceBetween: 15,
    slidesPerView: 8,
    freeMode: true,
    watchSlidesProgress: true
  });
  var swiper2 = new Swiper(".image-column-slider", {
    loop: true,
    spaceBetween: 10,
    autoHeight: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    },
    thumbs: {
      swiper: swiper
    }
  });
</script>